@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 251, 191, 36;
  --primary-dark: 180, 83, 9;
  --primary-light: 253, 230, 138;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

body {
  @apply bg-gray-100;
}